body {
  //background-image: url("/assets/images/united-squares.png");
  background-image: url("/assets/images/trivia-tuesdays-background.jpg");
}

#main {
  background-color: green;
  height: 850px;
  margin-top: 25px;
}

#title {
  margin-top: 50px;
  /* background-color: blue; */
}

.trivia {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: yellow;
  font-size: 5em;
}

#questions {
  width: 75%;
  /* background-color: red; */
  display: none;
}

.start {
  height: 50px;
  width: 300px;
  margin-top: 150px;
  background-color: yellow;
  border: solid 2px black;
}

#timer {
  font-size: 32px;
  color: #FFCF79;
}

#question {
  font-size: 32px;
}

#message {
  font-size: 32px;
}

.answer {
  width: 60%;
  margin: auto;
  font-size: 32px;
}

.answer:hover {
  background-color: yellow;
}

#startOver:hover {
  font-size: 1.2em;
  border: solid 2px black;
}